$white: #E5E5E5;
$black: #7A7A7A;
$color: #996633;


// BREAK-POINTS
$break-1: 768px;
$break-2: 1170px;
$break-3: 1600px;

// FONTS
// used font is ubuntu through google fonts link
$primaryFontSize: 1em;
$secondaryFontSize: 1.1em;
$tertiaryFontSize: 1.2em;
$smallFontSize: 0.9em;
$smallerFontSize: 0.8em;
$bigFontSize: 1.4em;

// MARGINS
.--margin-bottom {
  margin-bottom: 25px;
}

// PADDINGSS
